<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
<script>
    var conversations = [];
    const socket = io('http://localhost:8998');
    socket.on('user_<%= current_user.id %>', function(data) {
        $(".chat-history").append("<li>\n" +
            "  <div class=\"message-data\">\n" +
            "    <span class=\"message-data-name\"><i class=\"fa fa-circle online\"></i>"+ data.sender_name +"</span>\n" +
            "    <span class=\"message-data-time\">"+ data.datetime +"</span>\n" +
            "  </div>\n" +
            "  <div class=\"message my-message\">\n" +
            "    "+ data.content +"\n" +
            "  </div>\n" +
            "</li>");
        $(".chat-history").scrollTop($(".chat-history")[0].scrollHeight);
    });
</script>

<% if @provider_accesses.size > 0 %>

<% end %>
<div class="container-chat clearfix">
  <div class="people-list" id="people-list">
    <div class="search">
      <input type="text" placeholder="search" />
      <i class="fa fa-search"></i>
    </div>
    <ul class="list">
      <% @provider_accesses.each_with_index do |access, i| %>
        <script>
          conversations.push(<%= access.id %>);
        </script>
        <% if access.provider.present? && access.provider.user.present? %>
          <% provider = access.provider %>

            <li class="clearfix" id="user_<%= @user_ids[i] %>">
              <%= image_tag "https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg", class: "center-block img-responsive img-thumbnail thumb64" %>
              <!--            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" />-->
              <div class="about">
                <div class="name"><%= provider.proper_name %></div>
                <div class="status">
                  <i class="fa fa-circle online"></i> online
                </div>
              </div>
            </li>

        <% end %>
      <% end %>


<!--      <li class="clearfix">-->
<!--        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" />-->
<!--        <div class="about">-->
<!--          <div class="name">Vincent Porter</div>-->
<!--          <div class="status">-->
<!--            <i class="fa fa-circle online"></i> online-->
<!--          </div>-->
<!--        </div>-->
<!--      </li>-->

<!--      <li class="clearfix">-->
<!--        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_02.jpg" alt="avatar" />-->
<!--        <div class="about">-->
<!--          <div class="name">Aiden Chavez</div>-->
<!--          <div class="status">-->
<!--            <i class="fa fa-circle offline"></i> left 7 mins ago-->
<!--          </div>-->
<!--        </div>-->
<!--      </li>-->

<!--      <li class="clearfix">-->
<!--        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_03.jpg" alt="avatar" />-->
<!--        <div class="about">-->
<!--          <div class="name">Mike Thomas</div>-->
<!--          <div class="status">-->
<!--            <i class="fa fa-circle online"></i> online-->
<!--          </div>-->
<!--        </div>-->
<!--      </li>-->

<!--      <li class="clearfix">-->
<!--        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_04.jpg" alt="avatar" />-->
<!--        <div class="about">-->
<!--          <div class="name">Erica Hughes</div>-->
<!--          <div class="status">-->
<!--            <i class="fa fa-circle online"></i> online-->
<!--          </div>-->
<!--        </div>-->
<!--      </li>-->

<!--      <li class="clearfix">-->
<!--        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_05.jpg" alt="avatar" />-->
<!--        <div class="about">-->
<!--          <div class="name">Ginger Johnston</div>-->
<!--          <div class="status">-->
<!--            <i class="fa fa-circle online"></i> online-->
<!--          </div>-->
<!--        </div>-->
<!--      </li>-->

<!--      <li class="clearfix">-->
<!--        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_06.jpg" alt="avatar" />-->
<!--        <div class="about">-->
<!--          <div class="name">Tracy Carpenter</div>-->
<!--          <div class="status">-->
<!--            <i class="fa fa-circle offline"></i> left 30 mins ago-->
<!--          </div>-->
<!--        </div>-->
<!--      </li>-->

<!--      <li class="clearfix">-->
<!--        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_07.jpg" alt="avatar" />-->
<!--        <div class="about">-->
<!--          <div class="name">Christian Kelly</div>-->
<!--          <div class="status">-->
<!--            <i class="fa fa-circle offline"></i> left 10 hours ago-->
<!--          </div>-->
<!--        </div>-->
<!--      </li>-->

<!--      <li class="clearfix">-->
<!--        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_08.jpg" alt="avatar" />-->
<!--        <div class="about">-->
<!--          <div class="name">Monica Ward</div>-->
<!--          <div class="status">-->
<!--            <i class="fa fa-circle online"></i> online-->
<!--          </div>-->
<!--        </div>-->
<!--      </li>-->

<!--      <li class="clearfix">-->
<!--        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_09.jpg" alt="avatar" />-->
<!--        <div class="about">-->
<!--          <div class="name">Dean Henry</div>-->
<!--          <div class="status">-->
<!--            <i class="fa fa-circle offline"></i> offline since Oct 28-->
<!--          </div>-->
<!--        </div>-->
<!--      </li>-->

<!--      <li class="clearfix">-->
<!--        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_10.jpg" alt="avatar" />-->
<!--        <div class="about">-->
<!--          <div class="name">Peyton Mckinney</div>-->
<!--          <div class="status">-->
<!--            <i class="fa fa-circle online"></i> online-->
<!--          </div>-->
<!--        </div>-->
<!--      </li>-->
    </ul>
  </div>

  <div class="chat">
    <div class="chat-header clearfix">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />

      <div class="chat-about">
        <div class="chat-with">Chat with Vincent Porter</div>
        <div class="chat-num-messages">already 1 902 messages</div>
      </div>
      <i class="fa fa-star"></i>
    </div> <!-- end chat-header -->

    <div class="chat-history">
      <ul id="chat-history-ul">
        <li class="clearfix">
          <div class="message-data align-right">
            <span class="message-data-time" >10:10 AM, Today</span> &nbsp; &nbsp;
            <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>

          </div>
          <div class="message other-message float-right">
            Hi Vincent, how are you? How is the project coming along?
          </div>
        </li>

        <li>
          <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
            <span class="message-data-time">10:12 AM, Today</span>
          </div>
          <div class="message my-message">
            Are we meeting today? Project has been already finished and I have results to show you.
          </div>
        </li>

        <li class="clearfix">
          <div class="message-data align-right">
            <span class="message-data-time" >10:14 AM, Today</span> &nbsp; &nbsp;
            <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>

          </div>
          <div class="message other-message float-right">
            Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?
          </div>
        </li>

        <li>
          <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
            <span class="message-data-time">10:20 AM, Today</span>
          </div>
          <div class="message my-message">
            Actually everything was fine. I'm very excited to show this to our team.
          </div>
        </li>

        <li>
          <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
            <span class="message-data-time">10:31 AM, Today</span>
          </div>
          <i class="fa fa-circle online"></i>
          <i class="fa fa-circle online" style="color: #AED2A6"></i>
          <i class="fa fa-circle online" style="color:#DAE9DA"></i>
        </li>
        <%= render partial: "chat/chats/partials/messages", locals: {messages: @messages} %>

      </ul>

    </div> <!-- end chat-history -->

    <div class="chat-message clearfix">
      <%= form_for [@patient, @chat_message], url: patient_chats_path, remote: true do |f| %>
        <%= f.hidden_field :sender_id, value: (current_user.patient? ? @patient.id : @provider.id) %>
        <%= f.hidden_field :provider_access_id, value: @provider_access.id %>
        <%= f.hidden_field :message_type, value: current_user.role %>
        <%= f.text_area :content, placeholder: "Type your message", rows: 3 %>

<!--      <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>-->

      <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
      <i class="fa fa-file-image-o"></i>

      <button>Send</button>
      <% end %>
    </div> <!-- end chat-message -->

  </div> <!-- end chat -->

</div> <!-- end container -->


<div id="chat-data" data-receiver-user-id="<%= @user_ids.first || 0 %>" data-conversation-id="<%= @provider_accesses.first.id || 0 %>"></div>

<script id="message-template" type="text/x-handlebars-template">
  <li class="clearfix">
    <div class="message-data align-right">
      <span class="message-data-time" >{{time}}, Today</span> &nbsp; &nbsp;
      <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>
    </div>
    <div class="message other-message float-right">
      {{messageOutput}}
    </div>
  </li>
</script>

<script id="message-response-template" type="text/x-handlebars-template">
  <li>
    <div class="message-data">
      <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
      <span class="message-data-time">{{time}}, Today</span>
    </div>
    <div class="message my-message">
      {{response}}
    </div>
  </li>
</script>
<script>
    $(".chat-history").scrollTop($(".chat-history")[0].scrollHeight);
    const user_ids = <%= raw @user_ids %>;
    $.each(user_ids, function(index, value){
        $("#user_" + value).click(function(){
            $("#chat-data").data("receiver-user-id", value);
            $("#chat_message_provider_access_id").val(conversations[index]);
            console.log($("#chat-data").data("receiver-user-id"));
            $.ajax({
                method: "GET",
                url: "/chat/chats/load_messages",
                data: {
                    conversation_id: $("#chat_message_provider_access_id").val(),
                    patient_id: <%= @patient.id %>
                }
            }).done(function( msg ) {

            });
        });
    });
</script>
